@{
    ViewData["Title"] = "Giải hệ phương trình hai ẩn";
}

<form action="" method="POST">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                     <a title="Quay lại trang chủ" href="/" class="pull-left">
                        <span style="font-size:30px;margin-top:15px;" class="glyphicon glyphicon-arrow-left"></span>
                    </a>
                    <h3 style="text-tranform:upper" class="text-center">
                        <b>3. Giải hệ phương trình 2 ẩn</b>
                    </h3>
                </div>
                <div class="panel-body">
                    <span style="margin-left:-5px;position:fixed;margin-top:5px;font-size:50px;font-weight:bold">{</span>
                    <div class="form-group" style="margin-left:20px;">
                        <div class="row">
                             <div class="col-md-2">
                                <div class="input-group">
                                    <input type="text" value="@Model.a1" class="form-control" name="a1" aria-describedby="basic-addon2">
                                    <span class="input-group-addon" id="basic-addon2"><b>X</b></span>
                                </div>
                            </div>
                            <span style="margin-left:-5px;position:fixed;margin-top:3px;font-size:20px;font-weight:bold">+</span>
                           <div class="col-md-2">
                                <div class="input-group">
                                    <input type="text" value="@Model.b1" class="form-control" name="b1" aria-describedby="basic-addon2">
                                    <span class="input-group-addon" id="basic-addon2"><b>Y</b></span>
                                </div>
                            </div>
                            <span style="margin-left:-5px;position:fixed;margin-top:3px;font-size:20px;font-weight:bold"> = </span>
                            <div class="col-md-2">
                                <input type="text" value="@Model.c1" class="form-control" name="c1">
                            </div>
                        </div>
                    </div>
                    <div class="form-group" style="margin-left:20px;" >
                        <div class="row">
                             <div class="col-md-2">
                                <div class="input-group">
                                    <input type="text" value="@Model.a2" class="form-control" name="a2" aria-describedby="basic-addon2">
                                    <span class="input-group-addon" id="basic-addon2"><b>X</b></span>
                                </div>
                            </div>
                            <span style="margin-left:-5px;position:fixed;margin-top:3px;font-size:20px;font-weight:bold">+</span>
                           <div class="col-md-2">
                                <div class="input-group">
                                    <input type="text" value="@Model.b2" class="form-control" name="b2" aria-describedby="basic-addon2">
                                    <span class="input-group-addon" id="basic-addon2"><b>Y</b></span>
                                </div>
                            </div>
                            <span style="margin-left:-5px;position:fixed;margin-top:3px;font-size:20px;font-weight:bold"> = </span>
                            <div class="col-md-2">
                                <input type="text" class="form-control" value="@Model.c2" name="c2">
                            </div>
                        </div>
                    </div><br>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Giải</button>
                    </div>
                    <div class="form-group">
                       </hr>
                       <h4>@Model.kq</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
